html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.col1 {
    width: 50%;
}

.col2 {
    width: 20%; 
}

.col3{
    width: 30%;
}

#pagingTable td{
    font-size: 20px;
    padding: 0 5px;
    width: 30px;
    text-align: center;
}

table a{
    text-decoration: none;
}

table a:hover{
    text-decoration: underline;
}